body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  color: "black";
  background-image: url('./background.jpg')

}

.navText {
  list-style-type: none;
  color: grey;
  /* display: inline; */
  text-align: left;
  font-weight: bolder;
}

#text {
  text-decoration: none;
  color: grey;
  height: 40%;
}