/* Technologies page section */
.techContainer {
    margin-left: 20%;
    margin-bottom: 50px;
    width: 75%;
    padding: 20px;
    border: solid 2px silver;
    border-radius: 15px 50px;
  
    background-image: url('../../images/navbackground.jpg')
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }