/* Home page section */

.home-container {
  padding: 40px;
  height: 790px;

  color: rgb(0, 0, 0);
  background-image: url('../../images/faroeIslands.jpg');
  background-size: 105%;
  opacity: 0.8;
}

.content-container {
  margin-top: 13%;
  margin-left: 0%;
  margin-right: 0%;
  padding-bottom: 100px;
}

#home-header {
  font-family: 'brandon-grotesque', Helvetica, Arial, sans-serif;
  font-size: 80px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 700;
  margin-bottom: 0px;
}

.home-content {
  margin: 30px 5%;
  font-size: 40px;
  font-family: 'Maison Neue', Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 1.30769em;
}

.about {
  font-size: 20px;
}

.about-btn {
  border-color: #fff;
  border: 2px solid white;
  background-color: transparent;
  color: #fff;
  width: 20%;
  font-size: 1em;
  padding: 1.5em 0;
}

@media (min-height: 900px) {
  .home-container {
    height: 1000px;
  }
  /* .content-container {
    margin-top: 250px;
  } */

  #home-header {
    font-size: 100px;
  }

  .home-content {
    font-size: 50px;
  }

  .about-btn {
    margin-top: 1%;
  }
}
