/* Home page section */

.homeContainer { 

    
    /* padding-bottom: 0px; */
    padding: 40px;
    height: 780px; 
  
    color: rgb(0, 0, 0);
    background-image: url('../../images/faroeIslands.jpg');
    background-size: 100%;
    opacity: .8;
  }
  
  .contentContainer {
    margin-top: 200px;
    margin-left: 0%;
    margin-right: 0%;
    padding-bottom: 100px;
  }


   #homeHeader  {
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    font-size: 80px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 700;
    margin-bottom: 0px;

  }
  
   #homeTitle  {
      font-size: 20px;
      font-weight: bold;
      margin-top: 0%;
  }

  button {
    border-color: #fff;
    border: 2px solid white;
    background-color: transparent;
    font-size: 50px;
    color: #fff;
    width: 20%;
    font-size: 1em;
    padding: 1.5em 0;
  }