.navBar {
  position: fixed;
  top: 0;
  height: 7%;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid white;
}

.link {
  margin: 10px;
  /* padding: 10px; */
  text-decoration: none;
  color: white;
}

.link:hover {
  text-decoration: none;
  color: silver;
}

.link:active {
  color: silver;
}
